<div class="container">

  <h1 class="hero">Create An Account!</h1>

  <div class="row">
    <h3 class="sectionHeader">Personal Information</h3>

    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" ng-model="fName">
    </div>

    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" ng-model="lName">
    </div>

    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="first.lastName@gmail.com" ng-model="email">
    </div>

    <div class="form-group col-md-4">
      <label for="phoneNumber">Phone</label>
      <input type="text" class="form-control" placeholder="(555)-555-5555" ng-model="phone">
    </div>

    <div class="form-group col-md-4">
      <label for="DOB">Date Of Birth</label>
      <input type="date" class="form-control" ng-model="dob">
    </div>
  </div>

  <div class="row">
    <h3 class="sectionHeader">Billing Address</h3>

    <div class="form-group col-md-12">
      <label for="streetAddressOne">Street Address</label>
      <input type="text" class="form-control" placeholder="100 Main Street" ng-model="street1">
    </div>

    <div class="form-group col-md-12">
      <label for="streetAddressTwo">Address (optional)</label>
      <input type="text" class="form-control" placeholder="Apt #" ng-model="street2">
    </div>

    <div class="form-group col-md-4">
      <label for="city">City</label>
      <input type="text" class="form-control" placeholder="Los Angeles" ng-model="city">
    </div>

    <div class="form-group col-md-4">
      <label for="state">State</label>
      <input type="text" class="form-control" placeholder="CA" ng-model="state">
    </div>

    <div class="form-group col-md-4">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" placeholder="12345" ng-model="zip">
    </div>
  </div>

  <div class="row">
    <h3 class="sectionHeader">Billing Information</h3>

    <div class="form-group col-md-12">
      <label for="cardNumber">Credit Card Number</label>
      <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" ng-model="ccNum">
    </div>

    <div class="form-group col-md-6">
      <label for="cardType">Card Type</label>
      <input type="text" class="form-control" placeholder="Visa, Master Card, Discover, etc." ng-model="cardType">
    </div>

    <div class="form-group col-md-6">
      <label for="securityCode">Security Code</label>
      <input type="text" class="form-control" placeholder="XXX" ng-model="security">
    </div>

    <button ng-click="addUser()" class="btn btn-primary btn-lg pull-right cbtn" ng-show="submitButton">Submit</button>
    <button ng-click="saveUser()" class="btn btn-success btn-lg pull-right cbtn" ng-show="saveButton">Save</button>
  </div>

  <div class="form-group">
    <h2>Search For Users</h2>
    <input type="text" class="form-control" placeholder="Search..." ng-model="userSearch">
  </div>

  <div class="row userSection">
    <div class="userContainer col-md-3" ng-repeat="user in users | filter: userSearch">
      <div class="userHeader">
        <h1 class="userHeading">{{ user.firstName }} {{ user.lastName }}</h1>
      </div>
      <div class="userBody">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> ${{ user.phone }}</p>
        <p><strong>DOB:</strong> {{ user.dob | date: 'MM/dd/yyyy'}}</p>
        <p><strong>Address:</strong> {{ user.streetOne }}</p>
        <p><strong>City:</strong> {{ user.city }}</p>
        <p><strong>State:</strong> {{ user.state }}</p>
        <p><strong>Zip:</strong> {{ user.zip }}</p>
        <button class="btn btn-info" ng-click="updateUser(user)">Update</button>
        <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
      </div>
    </div>
  </div>

</div><!-- Container End -->
