<!DOCTYPE html>
<html lang="en" ng-app="ticketApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Filters - Lesson</title>

  <!-- Google Font - Open Sans -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

  <!-- Bootstrap CDN 3.3.7 -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/styles.css">

  <!-- Angular CDN 1.5.7 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>

</head>
<body ng-controller="ticketController">

  <div class="container">

    <h1 class="hero">Create A Ticket!</h1>

    <div class="row">
      <h3 class="sectionHeader">Ticket Information</h3>

      <div class="form-group col-md-12">
        <label>Artist Name</label>
        <input type="text" class="form-control" placeholder="Artist Name" ng-model="artistName">
      </div>

      <div class="form-group col-md-6">
        <label>Event Date</label>
        <input type="date" class="form-control" ng-model="date">
      </div>

      <div class="form-group col-md-6">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="$35" ng-model="price">
      </div>

      <div class="form-group col-md-4">
        <label>Seat Section</label>
        <input type="text" class="form-control" placeholder="404" ng-model="sSection">
      </div>

      <div class="form-group col-md-4">
        <label>Seat Row</label>
        <input type="text" class="form-control" placeholder="B" ng-model="sRow">
      </div>

      <div class="form-group col-md-4">
        <label>Seat Number</label>
        <input type="text" class="form-control" placeholder="4" ng-model="sNumber">
      </div>

      <button ng-click="submitTicket()" ng-show="submitButton" class="btn cbtn btn-primary btn-lg pull-right ">Submit</button>
      <button ng-click="saveTicket()" ng-show="saveButton" class="btn cbtn btn-success btn-lg pull-right ">Save</button>
    </div>

    <div class="row ticketSection">

      <div class="form-group">
        <h2>Search For Tickets</h2>
        <input type="text" class="form-control" placeholder="Search...">
      </div>

      <div class="ticketContainer col-md-3" ng-repeat="ticket in tickets">
        <div class="ticketHeader">
          <h1 class="ticketHeading">{{ ticket.artistName }}</h1>
        </div>
        <div class="ticketBody">
          <p><strong>Date:</strong> {{ ticket.date }}</p>
          <p><strong>Price:</strong> {{ ticket.price }}</p>
          <p><strong>Section:</strong> {{ ticket.section }}</p>
          <p><strong>Row:</strong> {{ ticket.row }}</p>
          <p><strong>Seat:</strong> {{ ticket.seat }}</p>
          <button class="btn btn-info" ng-click="updateTicket(ticket)">Update</button>
          <button class="btn btn-danger" ng-click="deleteTicket(ticket)">Delete</button>
        </div>
      </div>

    </div>

  </div><!-- Container End -->

<script type="text/javascript" src="./app.js"></script>
<script type="text/javascript" src="./controllers/ticketController.js"></script>
</body>
</html>
